<ion-header [translucent]="true" no-border class="ion-no-border most-use-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" slot="start">
        <img class="logo-main" src="../../assets/images/Menu.png">
      </ion-menu-button>     
    </ion-buttons>
    <ion-chip>
      <img src="../assets/images/Ifuneral.png">
    </ion-chip>
    <ion-button slot="end" class="profile">
      <img src="../assets/images/User.png">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="transparent-bck">
  <div class="mainContent">
    <div class="title-main">
      <h4>Recite Duas</h4>
      <div class="lang-option-list">
        <div class="lang-item">Arabic</div>
        <div class="lang-item active">English</div>
      </div>
    </div>
    <div class="content-list-main">
      <div class="subtitle-main">
        <h6>Dua headline goes here</h6>
      </div>
      <div class="nm-icon-list-box">
        <div class="nm-icon-item">
          <!-- <ion-button> -->
            <img src="../assets/images/Video.png">
            <ion-text>Watch Video</ion-text>
          <!-- </ion-button> -->
        </div>
        <div class="nm-icon-item">
          <!-- <ion-button> -->
            <img src="../assets/images/Audio.png">
            <ion-text>Play Audio</ion-text>
          <!-- </ion-button> -->
        </div>
      </div>
      <div class="TextContentMain">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex easertes commodo consequat. Duis aute irure dolor in ipsum reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum amet.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex easertes commodo consequat. Duis aute irure dolor in ipsum reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum amet.</p>
      </div>
    </div>
  </div>
</ion-content>