<ion-header [translucent]="true" no-border class="ion-no-border most-use-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" slot="start">
        <img class="logo-main" src="../../assets/images/Menu.png">
      </ion-menu-button>     
    </ion-buttons>
    <ion-chip class="img-txt">
      <img src="../assets/images/muharram2.png">
      <ion-text>Muharram</ion-text>
    </ion-chip>
    <ion-button slot="end" class="profile">
      <img src="../assets/images/User.png">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="transparent-bck">
  <div class="mainContent">
    <ion-list class="list-boxes-main">
      <ion-item class="item-box-main" routerDirection="root" routerLink="/tabs/recite-duas">
        <div class="item-box-inner">
          <div class="item-box-lft">
            <h6>Dua headline goes here lorem...</h6>
            <div class="nm-icon-list">
              <div class="nm-icon-item">
                <img src="../assets/images/microphone-icon1.png">
                <p>Mir Hasan Mir</p>
              </div>
            </div>
          </div>
          <div class="item-box-rit">
            <ion-button><img src="../assets/images/Play.png"></ion-button>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-box-main">
        <div class="item-box-inner">
          <div class="item-box-lft">
            <h6>Dua headline goes here lorem...</h6>
            <div class="nm-icon-list">
              <div class="nm-icon-item">
                <img src="../assets/images/microphone-icon1.png">
                <p>Mir Hasan Mir</p>
              </div>
            </div>
          </div>
          <div class="item-box-rit">
            <ion-button><img src="../assets/images/Play.png"></ion-button>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-box-main">
        <div class="item-box-inner">
          <div class="item-box-lft">
            <h6>Consectetur, adipisci velitsed quia...</h6>
            <div class="nm-icon-list">
              <div class="nm-icon-item">
                <img src="../assets/images/microphone-icon1.png">
                <p>Mir Hasan Mir</p>
              </div>
            </div>
          </div>
          <div class="item-box-rit">
            <ion-button><img src="../assets/images/Play.png"></ion-button>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-box-main">
        <div class="item-box-inner">
          <div class="item-box-lft">
            <h6>Dua headline goes here lorem...</h6>
            <div class="nm-icon-list">
              <div class="nm-icon-item">
                <img src="../assets/images/microphone-icon1.png">
                <p>Mir Hasan Mir</p>
              </div>
            </div>
          </div>
          <div class="item-box-rit">
            <ion-button><img src="../assets/images/Play.png"></ion-button>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-box-main">
        <div class="item-box-inner">
          <div class="item-box-lft">
            <h6>Dua headline goes here lorem...</h6>
            <div class="nm-icon-list">
              <div class="nm-icon-item">
                <img src="../assets/images/microphone-icon1.png">
                <p>Mir Hasan Mir</p>
              </div>
            </div>
          </div>
          <div class="item-box-rit">
            <ion-button><img src="../assets/images/Play.png"></ion-button>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-box-main">
        <div class="item-box-inner">
          <div class="item-box-lft">
            <h6>Consectetur, adipisci velitsed quia...</h6>
            <div class="nm-icon-list">
              <div class="nm-icon-item">
                <img src="../assets/images/microphone-icon1.png">
                <p>Mir Hasan Mir</p>
              </div>
            </div>
          </div>
          <div class="item-box-rit">
            <ion-button><img src="../assets/images/Play.png"></ion-button>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-box-main">
        <div class="item-box-inner">
          <div class="item-box-lft">
            <h6>Dua headline goes here lorem...</h6>
            <div class="nm-icon-list">
              <div class="nm-icon-item">
                <img src="../assets/images/microphone-icon1.png">
                <p>Mir Hasan Mir</p>
              </div>
            </div>
          </div>
          <div class="item-box-rit">
            <ion-button><img src="../assets/images/Play.png"></ion-button>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-box-main">
        <div class="item-box-inner">
          <div class="item-box-lft">
            <h6>Sed ut perspiciatis unde omnis...</h6>
            <div class="nm-icon-list">
              <div class="nm-icon-item">
                <img src="../assets/images/microphone-icon1.png">
                <p>Mir Hasan Mir</p>
              </div>
            </div>
          </div>
          <div class="item-box-rit">
            <ion-button><img src="../assets/images/Play.png"></ion-button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
