ion-content {
	--background: transparent;
	border: 0px;
    --border: 0px;
	.mainContent {
		padding: 0px;
		.img-cnt-sec {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 30px 38px;
			.img-nm-box-list {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				.img-nm-box-item {
					width: 50%;
    				min-width: 50%;
    				max-width: 50%;
					display: flex;
					flex-wrap: wrap;
					position: relative;
					margin: 0px 0px 26px;
					.img-nm-box-inner {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						position: relative;
						padding: 14px 10px 10px;
    					margin: 0px 14px 0px;
						border-radius: 12px;
						border-bottom: 7px solid #5cc5f1;
						background-image: linear-gradient( 0deg, rgb(137,199,252) 0%, rgb(212,254,253) 24%, rgb(255,255,255) 100%);
		  				background-image: -webkit-linear-gradient( 0deg, rgb(137,199,252) 0%, rgb(212,254,253) 24%, rgb(255,255,255) 100%);
						background-image: -moz-linear-gradient( 0deg, rgb(137,199,252) 0%, rgb(212,254,253) 24%, rgb(255,255,255) 100%);
		  				background-image: -ms-linear-gradient( 0deg, rgb(137,199,252) 0%, rgb(212,254,253) 24%, rgb(255,255,255) 100%);
		  				background-image: -o-linear-gradient( 0deg, rgb(137,199,252) 0%, rgb(212,254,253) 24%, rgb(255,255,255) 100%);
						img {
							max-width: 100%;
							width: 100%;
							max-height: 100%;
							height: 85px;
							border-radius: 14px;
							object-fit: contain;
							object-position: center;
							@media(max-width:400px) {
								height: 65px;
							}
						}
						h3 {
							width: 100%;
							margin: 10px 0px 0px;
							padding: 0px;
							text-align: center;
							font-size: 17px;
							line-height: 23px;
							font-family: var(--font-Poppins-SemiBold);
							color: #021b30;
							text-transform: uppercase;
							text-shadow: none;
							word-break: break-word;
							@media(max-width:374px) {
								font-size: 15px;
	    						line-height: 20px;
							}
						}
					}
					&:nth-child(odd) .img-nm-box-inner {
						margin-left: 0px;
					}
					&:nth-child(even) .img-nm-box-inner {
						margin-right: 0px;
					}
				}
			}
		}
	}
}